Milestones 3

Nama: Tazqia Ranyanisha A

Batch: CODA-RMT-008


Program ini bertujuan untuk menerapkan konsep validasi, eksplorasi, dan pembersihan data menggunakan Python dan PySpark, sekaligus mengotomasi proses ETL dengan Airflow agar alur analisis data menjadi lebih efisien.

Link PPT: https://docs.google.com/presentation/d/18nDG6Y8enVH4ywTpDfKehhyIOKqnQXIM/edit?usp=sharing&ouid=102360167114929655326&rtpof=true&sd=true


Link dataset: https://www.kaggle.com/datasets/ahsan81/superstore-marketing-campaign-dataset

# Superstore

Superstore adalah sebuah platform ritel yang sedang mempersiapkan campaign promosi akhir tahun. 

## Business Goal
Perusahaan berusaha memaksimalkan dampak campaign promosi dengan menargetkan pelanggan yang paling mungkin merespon positif.

## Challenge
Seiring bertambahnya basis pelanggan, volume data meningkat sehingga pengelolaan manual menjadi tidak efisien dan rawan kesalahan.

## Solusi
- Pembersihan dan transformasi data menggunakan **PySpark**  
- Penyimpanan hasil ke **MongoDB**  
- Otomatisasi pipeline dengan **Airflow**

## Atribut (features)
| Atribut               | Deskripsi |
|-----------------------|-----------|
| **Response (target)** | 1 = pelanggan menerima tawaran pada kampanye terakhir, 0 = sebaliknya |
| **ID**                | Identifier unik tiap pelanggan |
| **Year_Birth**        | Tahun lahir (untuk menghitung umur) |
| **Complain**          | 1 = pelanggan mengajukan komplain dalam 2 tahun terakhir |
| **Dt_Customer**       | Tanggal pendaftaran pelanggan pada perusahaan |
| **Education**         | Tingkat pendidikan pelanggan |
| **Marital**           | Status pernikahan pelanggan |
| **Kidhome**           | Jumlah anak kecil di rumah |
| **Teenhome**          | Jumlah remaja di rumah |
| **Income**            | Pendapatan rumah tangga per tahun |
| **MntFishProducts**   | Jumlah pengeluaran untuk produk ikan (2 tahun terakhir) |
| **MntMeatProducts**   | Jumlah pengeluaran untuk produk daging (2 tahun terakhir) |
| **MntFruits**         | Jumlah pengeluaran untuk buah (2 tahun terakhir) |
| **MntSweetProducts**  | Jumlah pengeluaran untuk produk manis (2 tahun terakhir) |
| **MntWines**          | Jumlah pengeluaran untuk wine (2 tahun terakhir) |
| **MntGoldProds**      | Jumlah pengeluaran untuk produk emas (2 tahun terakhir) |
| **NumDealsPurchases** | Jumlah pembelian dengan diskon |
| **NumCatalogPurchases** | Jumlah pembelian via katalog (order kirim pos) |
| **NumStorePurchases** | Jumlah pembelian langsung di toko |
| **NumWebPurchases**   | Jumlah pembelian melalui website |
| **NumWebVisitsMonth** | Jumlah kunjungan ke website dalam 1 bulan terakhir |
| **Recency**           | Jumlah hari sejak pembelian terakhir |

In [1]:
import pyspark
sc = pyspark.SparkContext()
sc

In [2]:
from pyspark.sql import SparkSession

# Initialize Spark Session
spark = SparkSession.builder \
    .appName("WriteToPostgres") \
    .config("spark.jars.packages", "org.postgresql:postgresql:42.6.0") \
    .getOrCreate()
spark

In [3]:
# Baca file CSV
file_path = "superstore_data.csv"   
df = spark.read.csv(file_path, header=True, inferSchema=True)

df.limit(10).toPandas()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0
5,7348,1958,PhD,Single,71691,0,0,3/17/2014,0,336,...,240,32,43,1,4,7,5,2,1,0
6,4073,1954,2n Cycle,Married,63564,0,0,1/29/2014,0,769,...,15,34,65,1,10,10,7,6,1,0
7,1991,1967,Graduation,Together,44931,0,1,1/18/2014,0,78,...,0,0,7,1,2,1,3,5,0,0
8,4047,1954,PhD,Married,65324,0,1,11/1/2014,0,384,...,21,32,5,3,6,2,9,4,0,0
9,9477,1954,PhD,Married,65324,0,1,11/1/2014,0,384,...,21,32,5,3,6,2,9,4,0,0

In [4]:
# Lihat struktur schema 
df.printSchema()

# Hitung jumlah baris dan kolom
print(f"Rows: {df.count()}, Columns: {len(df.columns)}")

root
 |-- Id: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- Response: integer (nullable = true)
 |-- Complain: integer (nullable = true)

Rows: 2240, Columns: 22

In [5]:
#  Cek Missing Values

from pyspark.sql.functions import col, sum

# Hitung jumlah nilai null per kolom
df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
| Id|Year_Birth|Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|Response|Complain|
+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
|  0|         0|        0|             0|    24|      0|       0|          0|      0|       0|        0|              0|              0|               0|           0|                0|              0|                  0|                0|                0|       0|       0|
+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+

In [6]:
df = df.dropna(subset=['Income'])

In [7]:
# Cek schema
df.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- Response: integer (nullable = true)
 |-- Complain: integer (nullable = true)

In [8]:
from pyspark.sql.functions import to_date, col
# Ubah Dt_Customer ke tipe Date (format: bulan/hari/tahun)
df = df.withColumn("Dt_Customer", to_date(col("Dt_Customer"), "M/d/yyyy"))
df.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: date (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- Response: integer (nullable = true)
 |-- Complain: integer (nullable = true)

In [9]:
from pyspark.sql.functions import lit, col

# Tambah kolom Age (2025 - Year_Birth)
df = df.withColumn("Age", lit(2025) - col("Year_Birth"))

# Drop kolom Year_Birth
df = df.drop("Year_Birth")

# Cek hasil
df.select("Id", "Age").show(10)

+-----+---+
|   Id|Age|
+-----+---+
| 1826| 55|
|    1| 64|
|10476| 67|
| 1386| 58|
| 5371| 36|
| 7348| 67|
| 4073| 71|
| 1991| 58|
| 4047| 71|
| 9477| 71|
+-----+---+
only showing top 10 rows

In [10]:
from pyspark.sql.functions import col


# Filter data: drop semua baris yang Age > 95
df = df.filter(col("Age") <= 95)

# Cek hasil
df.select("Id", "Age").show(5)

+-----+---+
|   Id|Age|
+-----+---+
| 1826| 55|
|    1| 64|
|10476| 67|
| 1386| 58|
| 5371| 36|
+-----+---+
only showing top 5 rows

In [11]:
df

DataFrame[Id: int, Education: string, Marital_Status: string, Income: int, Kidhome: int, Teenhome: int, Dt_Customer: date, Recency: int, MntWines: int, MntFruits: int, MntMeatProducts: int, MntFishProducts: int, MntSweetProducts: int, MntGoldProds: int, NumDealsPurchases: int, NumWebPurchases: int, NumCatalogPurchases: int, NumStorePurchases: int, NumWebVisitsMonth: int, Response: int, Complain: int, Age: int]

VALIDASI DATA - GREAT EXPECTATIONS

In [12]:
!pip install "great-expectations==0.18.19"

Requirement already satisfied: great-expectations==0.18.19 in /opt/conda/lib/python3.13/site-packages (0.18.19)
Requirement already satisfied: altair<5.0.0,>=4.2.1 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (4.2.2)
Requirement already satisfied: Click>=7.1.2 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (8.2.1)
Requirement already satisfied: colorama>=0.4.3 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (0.4.6)
Requirement already satisfied: cryptography>=3.2 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (45.0.6)
Requirement already satisfied: Ipython>=7.16.3 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (9.4.0)
Requirement already satisfied: ipywidgets>=7.5.1 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (8.1.7)
Requirement already satisfied: jinja2>=2.10 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (3.1.6)
Requirement already satisfied: jsonpatch>=1.22 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (1.33)
Requirement already satisfied: jsonschema>=2.5.1 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (4.25.1)
Requirement already satisfied: makefun<2,>=1.7.0 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (1.16.0)
Requirement already satisfied: marshmallow<4.0.0,>=3.7.1 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (3.26.1)
Requirement already satisfied: mistune>=0.8.4 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (3.1.3)
Requirement already satisfied: nbformat>=5.0 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (5.10.4)
Requirement already satisfied: notebook>=6.4.10 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (7.4.5)
Requirement already satisfied: packaging in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (25.0)
Requirement already satisfied: pydantic>=1.9.2 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (2.11.7)
Requirement already satisfied: pyparsing>=2.4 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (3.2.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (2.9.0.post0)
Requirement already satisfied: pytz>=2021.3 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (2025.2)
Requirement already satisfied: requests>=2.20 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (2.32.5)
Requirement already satisfied: ruamel.yaml<0.18,>=0.16 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (0.17.40)
Requirement already satisfied: scipy>=1.6.0 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (1.16.1)
Requirement already satisfied: tqdm>=4.59.0 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (4.67.1)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (4.14.1)
Requirement already satisfied: tzlocal>=1.2 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (5.3.1)
Requirement already satisfied: urllib3>=1.26 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (2.5.0)
Requirement already satisfied: numpy<2.0.0,>=1.22.4 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (1.26.4)
Requirement already satisfied: pandas>=1.3.0 in /opt/conda/lib/python3.13/site-packages (from great-expectations==0.18.19) (2.2.3)
Requirement already satisfied: entrypoints in /opt/conda/lib/python3.13/site-packages (from altair<5.0.0,>=4.2.1->great-expectations==0.18.19) (0.4)
Requirement already satisfied: toolz in /opt/conda/lib/python3.13/site-packages (from altair<5.0.0,>=4.2.1->great-expectations==0.18.19) (1.0.0)
Requirement already satisfied: cffi>=1.14 in /opt/conda/lib/python3.13/site-packages (from cryptography>=3.2->great-expectations==0.18.19) (1.17.1)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.13/site-packages (from cffi>=1.14->cryptography>=3.2->great-expectations==0.18.19) (2.22)
Requirement already satisfied: decorator in /opt/conda/lib/python3.13/site-packages (from Ipython>=7.16.3->great-expectations==0.18.19) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /opt/conda/lib/python3.13/site-packages (from Ipython>=7.16.3->great-expectations==0.18.19) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.13/site-packages (from Ipython>=7.16.3->great-expectations==0.18.19) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.13/site-packages (from Ipython>=7.16.3->great-expectations==0.18.19) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.13/site-packages (from Ipython>=7.16.3->great-expectations==0.18.19) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.13/site-packages (from Ipython>=7.16.3->great-expectations==0.18.19) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.13/site-packages (from Ipython>=7.16.3->great-expectations==0.18.19) (2.19.2)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.13/site-packages (from Ipython>=7.16.3->great-expectations==0.18.19) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.13/site-packages (from Ipython>=7.16.3->great-expectations==0.18.19) (5.14.3)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.13/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->Ipython>=7.16.3->great-expectations==0.18.19) (0.2.13)
Requirement already satisfied: comm>=0.1.3 in /opt/conda/lib/python3.13/site-packages (from ipywidgets>=7.5.1->great-expectations==0.18.19) (0.2.3)
Requirement already satisfied: widgetsnbextension~=4.0.14 in /opt/conda/lib/python3.13/site-packages (from ipywidgets>=7.5.1->great-expectations==0.18.19) (4.0.14)
Requirement already satisfied: jupyterlab_widgets~=3.0.15 in /opt/conda/lib/python3.13/site-packages (from ipywidgets>=7.5.1->great-expectations==0.18.19) (3.0.15)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.13/site-packages (from jedi>=0.16->Ipython>=7.16.3->great-expectations==0.18.19) (0.8.5)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.13/site-packages (from jinja2>=2.10->great-expectations==0.18.19) (3.0.2)
Requirement already satisfied: jsonpointer>=1.9 in /opt/conda/lib/python3.13/site-packages (from jsonpatch>=1.22->great-expectations==0.18.19) (3.0.0)
Requirement already satisfied: attrs>=22.2.0 in /opt/conda/lib/python3.13/site-packages (from jsonschema>=2.5.1->great-expectations==0.18.19) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/conda/lib/python3.13/site-packages (from jsonschema>=2.5.1->great-expectations==0.18.19) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/conda/lib/python3.13/site-packages (from jsonschema>=2.5.1->great-expectations==0.18.19) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/conda/lib/python3.13/site-packages (from jsonschema>=2.5.1->great-expectations==0.18.19) (0.27.0)
Requirement already satisfied: fastjsonschema>=2.15 in /opt/conda/lib/python3.13/site-packages (from nbformat>=5.0->great-expectations==0.18.19) (2.21.2)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /opt/conda/lib/python3.13/site-packages (from nbformat>=5.0->great-expectations==0.18.19) (5.8.1)
Requirement already satisfied: platformdirs>=2.5 in /opt/conda/lib/python3.13/site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat>=5.0->great-expectations==0.18.19) (4.3.8)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in /opt/conda/lib/python3.13/site-packages (from notebook>=6.4.10->great-expectations==0.18.19) (2.17.0)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in /opt/conda/lib/python3.13/site-packages (from notebook>=6.4.10->great-expectations==0.18.19) (2.27.3)
Requirement already satisfied: jupyterlab<4.5,>=4.4.5 in /opt/conda/lib/python3.13/site-packages (from notebook>=6.4.10->great-expectations==0.18.19) (4.4.6)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in /opt/conda/lib/python3.13/site-packages (from notebook>=6.4.10->great-expectations==0.18.19) (0.2.4)
Requirement already satisfied: tornado>=6.2.0 in /opt/conda/lib/python3.13/site-packages (from notebook>=6.4.10->great-expectations==0.18.19) (6.5.2)
Requirement already satisfied: anyio>=3.1.0 in /opt/conda/lib/python3.13/site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (4.10.0)
Requirement already satisfied: argon2-cffi>=21.1 in /opt/conda/lib/python3.13/site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (25.1.0)
Requirement already satisfied: jupyter-client>=7.4.4 in /opt/conda/lib/python3.13/site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (8.6.3)
Requirement already satisfied: jupyter-events>=0.11.0 in /opt/conda/lib/python3.13/site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (0.12.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /opt/conda/lib/python3.13/site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (0.5.3)
Requirement already satisfied: nbconvert>=6.4.4 in /opt/conda/lib/python3.13/site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (7.16.6)
Requirement already satisfied: prometheus-client>=0.9 in /opt/conda/lib/python3.13/site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (0.22.1)
Requirement already satisfied: pyzmq>=24 in /opt/conda/lib/python3.13/site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (27.0.2)
Requirement already satisfied: send2trash>=1.8.2 in /opt/conda/lib/python3.13/site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /opt/conda/lib/python3.13/site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (0.18.1)
Requirement already satisfied: websocket-client>=1.7 in /opt/conda/lib/python3.13/site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (1.8.0)
Requirement already satisfied: async-lru>=1.0.0 in /opt/conda/lib/python3.13/site-packages (from jupyterlab<4.5,>=4.4.5->notebook>=6.4.10->great-expectations==0.18.19) (2.0.5)
Requirement already satisfied: httpx<1,>=0.25.0 in /opt/conda/lib/python3.13/site-packages (from jupyterlab<4.5,>=4.4.5->notebook>=6.4.10->great-expectations==0.18.19) (0.28.1)
Requirement already satisfied: ipykernel!=6.30.0,>=6.5.0 in /opt/conda/lib/python3.13/site-packages (from jupyterlab<4.5,>=4.4.5->notebook>=6.4.10->great-expectations==0.18.19) (6.30.1)
Requirement already satisfied: jupyter-lsp>=2.0.0 in /opt/conda/lib/python3.13/site-packages (from jupyterlab<4.5,>=4.4.5->notebook>=6.4.10->great-expectations==0.18.19) (2.2.6)
Requirement already satisfied: setuptools>=41.1.0 in /opt/conda/lib/python3.13/site-packages (from jupyterlab<4.5,>=4.4.5->notebook>=6.4.10->great-expectations==0.18.19) (80.9.0)
Requirement already satisfied: certifi in /opt/conda/lib/python3.13/site-packages (from httpx<1,>=0.25.0->jupyterlab<4.5,>=4.4.5->notebook>=6.4.10->great-expectations==0.18.19) (2025.8.3)
Requirement already satisfied: httpcore==1.* in /opt/conda/lib/python3.13/site-packages (from httpx<1,>=0.25.0->jupyterlab<4.5,>=4.4.5->notebook>=6.4.10->great-expectations==0.18.19) (1.0.9)
Requirement already satisfied: idna in /opt/conda/lib/python3.13/site-packages (from httpx<1,>=0.25.0->jupyterlab<4.5,>=4.4.5->notebook>=6.4.10->great-expectations==0.18.19) (3.10)
Requirement already satisfied: h11>=0.16 in /opt/conda/lib/python3.13/site-packages (from httpcore==1.*->httpx<1,>=0.25.0->jupyterlab<4.5,>=4.4.5->notebook>=6.4.10->great-expectations==0.18.19) (0.16.0)
Requirement already satisfied: babel>=2.10 in /opt/conda/lib/python3.13/site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=6.4.10->great-expectations==0.18.19) (2.17.0)
Requirement already satisfied: json5>=0.9.0 in /opt/conda/lib/python3.13/site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=6.4.10->great-expectations==0.18.19) (0.12.1)
Requirement already satisfied: sniffio>=1.1 in /opt/conda/lib/python3.13/site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (1.3.1)
Requirement already satisfied: argon2-cffi-bindings in /opt/conda/lib/python3.13/site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (25.1.0)
Requirement already satisfied: debugpy>=1.6.5 in /opt/conda/lib/python3.13/site-packages (from ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.5,>=4.4.5->notebook>=6.4.10->great-expectations==0.18.19) (1.8.16)
Requirement already satisfied: nest-asyncio>=1.4 in /opt/conda/lib/python3.13/site-packages (from ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.5,>=4.4.5->notebook>=6.4.10->great-expectations==0.18.19) (1.6.0)
Requirement already satisfied: psutil>=5.7 in /opt/conda/lib/python3.13/site-packages (from ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.5,>=4.4.5->notebook>=6.4.10->great-expectations==0.18.19) (7.0.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /opt/conda/lib/python3.13/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in /opt/conda/lib/python3.13/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (6.0.2)
Requirement already satisfied: rfc3339-validator in /opt/conda/lib/python3.13/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /opt/conda/lib/python3.13/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (0.1.1)
Requirement already satisfied: fqdn in /opt/conda/lib/python3.13/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (1.5.1)
Requirement already satisfied: isoduration in /opt/conda/lib/python3.13/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (20.11.0)
Requirement already satisfied: rfc3987-syntax>=1.1.0 in /opt/conda/lib/python3.13/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (1.1.0)
Requirement already satisfied: uri-template in /opt/conda/lib/python3.13/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in /opt/conda/lib/python3.13/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (24.11.1)
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.13/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (4.13.4)
Requirement already satisfied: bleach!=5.0.0 in /opt/conda/lib/python3.13/site-packages (from bleach[css]!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (6.2.0)
Requirement already satisfied: defusedxml in /opt/conda/lib/python3.13/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /opt/conda/lib/python3.13/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (0.3.0)
Requirement already satisfied: nbclient>=0.5.0 in /opt/conda/lib/python3.13/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (0.10.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/conda/lib/python3.13/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (1.5.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.13/site-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in /opt/conda/lib/python3.13/site-packages (from bleach[css]!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (1.4.0)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.13/site-packages (from pandas>=1.3.0->great-expectations==0.18.19) (2025.2)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.13/site-packages (from pexpect>4.3->Ipython>=7.16.3->great-expectations==0.18.19) (0.7.0)
Requirement already satisfied: annotated-types>=0.6.0 in /opt/conda/lib/python3.13/site-packages (from pydantic>=1.9.2->great-expectations==0.18.19) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /opt/conda/lib/python3.13/site-packages (from pydantic>=1.9.2->great-expectations==0.18.19) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /opt/conda/lib/python3.13/site-packages (from pydantic>=1.9.2->great-expectations==0.18.19) (0.4.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.13/site-packages (from python-dateutil>=2.8.1->great-expectations==0.18.19) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/conda/lib/python3.13/site-packages (from requests>=2.20->great-expectations==0.18.19) (3.4.3)
Requirement already satisfied: lark>=1.2.2 in /opt/conda/lib/python3.13/site-packages (from rfc3987-syntax>=1.1.0->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (1.2.2)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.13/site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (2.7)
Requirement already satisfied: arrow>=0.15.0 in /opt/conda/lib/python3.13/site-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (1.3.0)
Requirement already satisfied: types-python-dateutil>=2.8.10 in /opt/conda/lib/python3.13/site-packages (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook>=6.4.10->great-expectations==0.18.19) (2.9.0.20250822)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.13/site-packages (from stack_data->Ipython>=7.16.3->great-expectations==0.18.19) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.13/site-packages (from stack_data->Ipython>=7.16.3->great-expectations==0.18.19) (3.0.0)

In [13]:
!pip install numpy==1.26.4

Requirement already satisfied: numpy==1.26.4 in /opt/conda/lib/python3.13/site-packages (1.26.4)

In [16]:
# 1. Import & buat Data Context
from great_expectations.data_context import FileDataContext

context = FileDataContext.create(project_root_dir='./')


# 2. Buat atau update Expectation Suite

expectation_suite_name = 'expectation-superstore'
context.add_or_update_expectation_suite(expectation_suite_name)


# 3. Daftarkan datasource & asset
datasource_name = 'superstore-csv-v5'  
asset_name = 'superstore-data'
path_to_data = './superstore_data.csv'

# Hapus datasource lama kalau ada, agar tidak error
if datasource_name in context.list_datasources():
    context.sources.delete(datasource_name)

# Tambahkan datasource baru
datasource = context.sources.add_pandas(datasource_name)

# Tambahkan CSV asset
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# Build batch request
batch_request = asset.build_batch_request()

# 4. Buat validator pakai batch_request & expectation suite
validator = context.get_validator(
    batch_request=batch_request,
    expectation_suite_name=expectation_suite_name
)

# 5. Cek 5 baris pertama dataset
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

1. Expectation 1:  kolom respon (thdp campaign) tidak boleh kosong

In [53]:
# Expectation: Column 'Response' tidak boleh kosong
validator.expect_column_values_to_not_be_null('Response')

WARNING:py.warnings:/opt/conda/lib/python3.13/site-packages/great_expectations/expectations/expectation.py:1518: UserWarning: `result_format` configured at the Validator-level will not be persisted. Please add the configuration to your Checkpoint config or checkpoint_run() method instead.
  warnings.warn(

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2240,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

2. Expectation 2: Kolom 'Id' harus unik

In [54]:
validator.expect_column_values_to_be_unique('Id')

WARNING:py.warnings:/opt/conda/lib/python3.13/site-packages/great_expectations/expectations/expectation.py:1518: UserWarning: `result_format` configured at the Validator-level will not be persisted. Please add the configuration to your Checkpoint config or checkpoint_run() method instead.
  warnings.warn(

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2240,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

3. Expectation 3: Dt_Customer harus berformat date

In [20]:
import datetime
# Expectation: kolom harus DateType
validator.expect_column_values_to_be_of_type(
    'Dt_Customer',
    'DateType'
)

{
  "success": true,
  "result": {
    "observed_value": "DateType"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

4. Expectation: Maksimum nilai kolom 'Complain' harus 1

In [56]:
# Expectation: Maksimum nilai kolom 'Complain' harus 1
# Artinya, tidak ada nilai > 1

validator.expect_column_max_to_be_between(
    column='Complain',   # kolom yang dicek
    min_value=0,         # minimum boleh 0 (tdk komplain)
    max_value=1          # maksimum harus 1
)

WARNING:py.warnings:/opt/conda/lib/python3.13/site-packages/great_expectations/expectations/expectation.py:1518: UserWarning: `result_format` configured at the Validator-level will not be persisted. Please add the configuration to your Checkpoint config or checkpoint_run() method instead.
  warnings.warn(

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 1
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

5. Expectation : Education harus termasuk dalam set kategori

In [62]:
validator.expect_column_values_to_be_in_set(
    "Education",
    ["Basic", "2n Cycle", "Graduation", "Master", "PhD"]
)

WARNING:py.warnings:/opt/conda/lib/python3.13/site-packages/great_expectations/expectations/expectation.py:1518: UserWarning: `result_format` configured at the Validator-level will not be persisted. Please add the configuration to your Checkpoint config or checkpoint_run() method instead.
  warnings.warn(

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2240,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

6. Expectation : Income minimal 0 (tidak boleh negatif)

In [63]:
validator.expect_column_values_to_be_between("Income", min_value=0, max_value=1000000)

WARNING:py.warnings:/opt/conda/lib/python3.13/site-packages/great_expectations/expectations/expectation.py:1518: UserWarning: `result_format` configured at the Validator-level will not be persisted. Please add the configuration to your Checkpoint config or checkpoint_run() method instead.
  warnings.warn(

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2240,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 24,
    "missing_percent": 1.0714285714285714,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

7. Expectation : Kolom age harus dipastikan exist

In [21]:
validator.expect_column_to_exist(column='Age')

{
  "success": true,
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [65]:
# Save into Expectation Suite

validator.save_expectation_suite(discard_failed_expectations=False)

CHECKPOINT

In [66]:
checkpoint_1 = context.add_or_update_checkpoint(
    name='checkpoint_superstore',
    validator=validator,
)

In [67]:
checkpoint_result = checkpoint_1.run()

Calculating Metrics:   0%|          | 0/37 [00:00<?, ?it/s]

DATA DOCS

In [68]:
# Build data docs

context.build_data_docs()

{'local_site': 'file:///home/jovyan/gx/uncommitted/data_docs/local_site/index.html'}

## **KEY TAKEAWAYS**

1. **Reliable Pipeline** – ETL yang otomatis memastikan data selalu diextract, transform, validate, dan load dengan konsisten tanpa manual intervention, sehingga error dan delay bisa diminimalisir.  

2. **Data Quality** – Dengan Great Expectations, data types, ranges, dan categories bisa divalidasi, sehingga segmentation lebih akurat, feature engineering lebih reliable, dan customer response analysis tetap konsisten.  

3. **Scalable Process** – Pipeline otomatis untuk transformation dan loading mampu handle dataset yang terus bertambah seiring growth customer base, tanpa mengorbankan performance maupun accuracy.  

4. **Customer Insights** – Feature hasil transform (contoh: age) membuat segmentation lebih presisi dan prediction terhadap response customer lebih baik.